{% import _self as self %}
{# Looks mismatched because this is a continuation of GlobalHeader.twig #}
                </main>
            </div> {# /#wrapper #}
            <footer>
                &copy; {{ "now"|date("Y") }} 山东大学

                {% if is_debug %}
                    <span class="footer-separator">|</span>
                    <a href="#" onClick="togglePageDetails();" class="black-btn key_to_click" tabindex="0">显示页面参数</a>
                    <span class="footer-separator">|</span>
                    <a href="#" onClick="validateHtml();" class="black-btn key_to_click" tabindex="0">校验HTML</a>
                {% endif %}
            </footer>
        </div> {# /#submitty-body #}
        {% if wrapper_urls['right_sidebar.html'] != null %}
            {# uploaded homepage redirect can go here? #}
            <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="right_sidebar" src="{{ wrapper_urls['right_sidebar.html'] }}" frameborder="0"></iframe>
        {% endif %}
    {% if wrapper_urls['bottom_bar.html'] != null %}
        {# uploaded homepage redirect can go here? #}
        <iframe sandbox="allow-top-navigation-by-user-activation allow-top-navigation" id="bottom_bar" src="{{ wrapper_urls['bottom_bar.html'] }}" frameborder="0"></iframe>
    {% endif %}
{% if is_debug %}
    <div id='page-info'>
        Runtime: {{ runtime }}<br /><br />
        <h2>Site Details</h2>
        Total Submitty Details: {{ submitty_queries|length }}<br /><br />
        Submitty Queries:<br /> {{ self.query_list(submitty_queries) }}

        <h3>Course Details</h3>
        Total Course Queries: {{ course_queries|length }}<br /><br />
        Course Queries: <br /> {{ self.query_list(course_queries) }}
    </div>
{% endif %}
    {% for url in module_js %}
        <script type="module" src="{{ url }}"></script>
    {% endfor %}
</body>
</html>

{% macro query_list(queries) %}
    {# This is a data table #}
    <table>
        <caption />
        <thead>
            <tr>
                <th class="query-list">Index</th>
                <th>Queries</th>
            </tr>
        </thead>
        <tbody>
            {% for query in queries %}
                <tr>
                    <td class="index">
                        {{ loop.index }}&nbsp;&nbsp;
                    </td>
                    <td>
                        <pre>{{ query }}</pre>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
