<div class="sub" id="incentive_message" style="display: none;">
    <p class='green-message'>{{ incentive_message }}</p>
</div>

{# Submitted files #}
{% if hide_submitted_files == false %}
    <h4>提交的文件</h4>
    <div class="row">
        <div class="box col-md-6" id="submitted-files">
            {% for file in files %}
                <div class="flex-row">
                    <span>
                        {{ file.relative_name }} ({{ (file.size / 1024) | number_format(2) | default(-1) }}kb)
                    </span>
                {# download icon if student can download files #}
                {% if can_download %}
                    <button class = 'btn btn-primary key_to_click' onclick='downloadFile("{{ file.path|url_encode }}", "submissions")' aria-label="Download {{file.relative_name}}">下载
                        <i class="fas fa-download" title="Download the file"></i></button>
                {% endif %}
                 </div>
            {% endfor %}
            {% if can_download and files|length > 1 %}
                <br />
                <div class="flex-row">
                    <span>下载所有文件：</span>
                    <a aria-label="Download zip of all files"
                       onclick='downloadSubmissionZip("{{ gradeable_id }}", "{{ user_id }}", "{{ display_version }}", "submission")'
                       class="key_to_click"
                       tabindex="0"
                    >
                        <i class="fas fa-download" title="Download zip of all files"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="box col-md-6 submission-details">
            {% if first_access_time is not null and first_access_time is not empty %}
                <span class="flex-row">
                    <span>首次访问时间：</span>
                    <span>{{ first_access_time|date(date_time_format) }}</span>
                </span>
            {% endif %}
            <span class="flex-row">
                <span>提交时间：</span>
                <span id="submission_timestamp"> {{ submission_time|date(date_time_format) }}</span>
            </span>
            <span class="flex-row">
                <span>迟交天数：</span>
                <span>{{ days_late }}</span>
            </span>
            {% if results is defined %}
                <span class="flex-row">
                    <span>打分时间：</span>
                    <span>{{ grade_time }} 秒</span>
                </span>
                <span class="flex-row">
                    {% if autograder_machine is null %}
                       {# unknown machine -- backwards compatible #}
                    {% elseif autograder_machine == '(short-circuited)' %}
                       {# short-circuited -- simple grading w/o worker machine #}
                    {% else %}
                       <span>打分机器：</span><span>{{ autograder_machine }}</span>
                    {% endif %}
                </span>
                {% if num_autogrades == 1 %}
                    <span class="flex-row">
                        <span>排队时间：</span>
                        <span>{{ wait_time }} 秒</span>
                    </span>
                {% endif %}
                {% if access_duration > 3600 %}
                    <span class="flex-row">
                        <span>运行时长： </span>
                        <span>{{ access_duration // 3600 }} 小时 {{ (access_duration // 60) % 60 }} 分 {{ access_duration % 60 }} 秒</span>
                    </span>
                {% elseif access_duration > 60 %}
                    <span class="flex-row">
                        <span>运行时长： </span>
                        <span>{{ (access_duration // 60) }} 分 {{ access_duration % 60 }} 秒</span>
                    </span>
                {% elseif access_duration > 0 %}
                    <span class="flex-row">
                        <span>运行时长： </span>
                        <span>{{ access_duration % 60 }} 秒</span>
                    </span>
                {% endif %}
                {% if num_autogrades > 1 %}
                    <span class="flex-row">
                        <span>重评次数：</span>
                        <span>{{ num_autogrades - 1 }}</span>
                    </span>
                    <span class="flex-row">
                        <span>最后重评时间：</span>
                        <span>{{ grading_finished|date(date_time_format) }}</span>
                    </span>
                {% endif %}
                {% if is_vcs %}
                    <span class="flex-row">
                        <span>Git commit hash:</span>
                        <span>
                            {% if revision %}
                                {{ revision[0:7] }}
                            {% else %}
                                无
                            {% endif %}
                        </span>
                    </span>
                    <br />
                {% endif %}
            {% else %}
                未打分
            {% endif %}
        </div>
    </div>
{% else %}
    {# Keep the Submission date to let Confetti parse the date #}
    <span hidden id="submission_timestamp"> 提交时间: {{ submission_time|date(date_time_format) }}</span> <br />
{% endif %}
{# /Submitted files #}
