<div id="gradeable-dates">
    <input name="ta_view_start_date" id="date_ta_view" class="date_picker" type="text" value="{{ gradeable.getTaViewStartDate()|date(date_format, timezone_string) }}">
    <label for="date_ta_view">助教测试日期</label>

    <br />


    <div class="electronic_file electronic_file_dates">
        <div class="team_yes team_yes_dates">
            <input name="team_lock_date" id="date_team_lock" class="date_picker" type="text" value="{{ gradeable.getTeamLockDate()|date(date_format, timezone_string) }}">
            <label for="date_team_lock">队伍锁定日期（老师在之后仍可手动修改）</label>

            <br />
        </div>

        <input id="date_submit" name="submission_open_date" class="date_picker" type="text" value="{{ gradeable.getSubmissionOpenDate()|date(date_format, timezone_string) }}">
        <label for="date_submit">允许提交日期</label>

        <br />

        <div id="due_date_options_container">
            <div>
                <fieldset>
                    <legend>这个作业有DDL吗</legend>
                    <input id="has_due_date_yes" name="has_due_date" value="true" type="radio" {{ gradeable.hasDueDate() ? 'checked' : '' }}/><label for="has_due_date_yes">有</label>
                    <input id="has_due_date_no" name="has_due_date" value="false" type="radio" {{ not gradeable.hasDueDate() ? 'checked' : '' }}/><label for="has_due_date_no">无</label>
                </fieldset>
            </div>

            <div id="due_date_container" {{ gradeable.hasDueDate() ? '' : 'hidden' }}>
                <input id="date_due" name="submission_due_date" class="date_picker" type="text" value="{{ gradeable.getSubmissionDueDate()|date(date_format, timezone_string) }}">
                <label for="date_due">DDL</label>
            </div>
        </div>
    </div>

    <div class="manual_grading manual_grading_dates">
        <input name="grade_start_date" id="date_grade" class="date_picker" type="text" value="{{ gradeable.getGradeStartDate()|date(date_format, timezone_string) }}">
        <label for="date_grade">打分起始日期</label>

        <br />

        <input name="grade_due_date" id="date_grade_due" class="date_picker" type="text" value="{{ gradeable.getGradeDueDate()|date(date_format, timezone_string) }}">
        <label for="date_grade_due">打分结束日期</label>

        <br />
    </div>

    <input name="grade_released_date" id="date_released" class="date_picker" type="text" value="{{ gradeable.getGradeReleasedDate()|date(date_format, timezone_string) }}">
    <label for="date_released">公布分数日期</label>

    <br />

    <div class="electronic_file electronic_file_dates">
        <div class="grade_inquiry_date" {{ regrade_allowed != true or regrade_enabled != true ? 'hidden' : '' }}>
            <input name="grade_inquiry_start_date" id="date_grade_inquiry_start" class="date_picker grade_inquiry_start_date" type="text" value="{{ gradeable.getGradeInquiryStartDate()|date(date_format, timezone_string) }}">
            <label for="date_grade_inquiry_start">分数查询起始日期</label>

            <br />

            <input name="grade_inquiry_due_date" id="date_grade_inquiry_due" class="date_picker grade_inquiry_due_date" type="text" value="{{ gradeable.getGradeInquiryDueDate()|date(date_format, timezone_string) }}">
            <label for="date_grade_inquiry_due">分数查询结束日期</label>
        </div>

        <div id="late_days_options_container" {{ gradeable.hasDueDate() and gradeable.isStudentSubmit() ? '' : 'hidden' }}>
            <fieldset>
                <legend>允许在DDL后提交作业吗</legend>
                <input type="radio" id = "yes_late_submission" name="late_submission_allowed" value="true"
                        {{ action != 'new' and gradeable.isLateSubmissionAllowed() ? 'checked' : '' }}> <label for="yes_late_submission">允许</label>

                <input type="radio" id = "no_late_submission" name="late_submission_allowed" value ="false"
                        {{ not (action != 'new' and gradeable.isLateSubmissionAllowed()) ? 'checked' :  '' }}> <label for="no_late_submission">拒绝</label>
            </fieldset>
            <div class="yes-late-submission">
                <label for="late_days">允许学生迟交多少天：</label>
                <input style="width: 50px" id="late_days" name="late_days" class="int_val" type="text" value="{{ gradeable.getLateDays() }}"/>

                <br />

                <p style="max-width:600px;" id="late-days-message">
                注意：如果学生在允许的迟交范围之后提交作业，并且没有为其批准请假信息，系统将自动为其打0分。详情请查看<a target=_blank href="http://submitty.org/student/late_days">迟交与延期<i style="font-style:normal;" class="fa-question-circle"></i></a>
                </p>
            </div>
        </div>
    </div>

    <br />

    <input type="button" class="btn btn-default key_to_click" tabindex="0" value="显示所有日期" id="show_all_dates" onclick="showAllDates()" />
    <input type="button" class="btn btn-primary key_to_click" tabindex="0" value="隐藏无关日期" id="hide_dates" onclick="hideDates()" hidden/>

    <br />
    <span id="gray_date_warning" hidden>注意：灰色日期用于Debug检查，与当前的作业设置无关。</span>
    <div id="timezone-container"><i>时区: {{ timezone_string }}</i></div>
</div>

<script>
    function showAllDates() {
        $('#gradeable-dates').find('div,input').show();
        $('#gray_date_warning').show();
        $('#hide_dates').show();
        $('#show_all_dates').hide();
    }

    // This hides the dates by calling the event handlers that do that automatically
    function hideDates() {
        $('#gray_date_warning').hide();
        onGradeableTypeChange();
        onTeamAssignmentChange();
        onManualGradingChange();
        onIsRegradeAllowedChange();
        onLateSubmissionAllowedChanged();
        if (onStudentSubmitChange !== undefined) {
            onStudentSubmitChange();
        }
    }

    $(document).ready(function() {
        $('input[name=has_due_date]').change(function() {
            let cont = $('#due_date_container');
            let cont1 = $('#late_days_options_container');
            if($('#has_due_date_no').is(':checked')) {
                cont.hide();
                cont1.hide();
            }
            else {
                cont.show();
                cont1.show();
            }
        });
        flatpickr(".date_picker", {
            plugins: [ShortcutButtonsPlugin(
                    {
                        button: [
                            {
                                label: "Now"
                            },
                            {
                                label: "End of time"
                            }
                        ],
                        label: "or",
                        onClick: (index, fp) => {
                            let date;
                            switch (index) {
                                case 0:
                                    date = new Date();
                                    break;
                                case 1:
                                    date = new Date("9998-01-01 00:00:00");
                                    break;
                            }
                            fp.setDate(date, true);
                        }
                    }
                )],
            allowInput: true,
            enableTime: true,
            enableSeconds: true,
            time_24hr: true,
            dateFormat: "Y-m-d H:i:S",
            onReady: (a, b, fp) => {
                fp.calendarContainer.firstChild.childNodes[1].firstChild.firstChild.setAttribute('aria-label', 'Month');
                fp.calendarContainer.childNodes[2].childNodes[4].firstChild.setAttribute('aria-label', 'Seconds');
            }
        });
    });

</script>
